<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Dashboard - Member</title>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
  <link href="profile_member_style.css" rel="stylesheet" />
  <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
  <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="index.html">GREEN LAUNDRY EXPRESS PRINGSEWU</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
        class="fas fa-bars"></i></button>

    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
          aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#!">Settings</a></li>
          <li><a class="dropdown-item" href="#!">Activity Log</a></li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li><a class="dropdown-item" href="#!">Logout</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <div id="layoutSidenav">
    <div id="layoutSidenav_nav">
      <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
          <div class="nav">
            <div class="sb-sidenav-menu-heading"></div>
            <a class="nav-link" href="index.html">
              <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
              Dashboard
            </a>

            <a class="nav-link" href="Penjemputan_barang.html">
              <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
              Penjemputan Barang
            </a>
            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">

            </div>
            <a class="nav-link" href="history.html">
              <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
              Histori
            </a>

            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
            </div>
            <a class="nav-link" href="profil.html">
              <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
              profil
            </a>

          </div>

      </nav>
    </div>
    <div id="layoutSidenav_content">
      <main>
        <!-- ini buat konten -->
        <div class="container">
          <div class="user_profile">
              <Div class="user_photo_profile">
                  <img class="user_photo" src="employees.png">
                  <div class="user_level">
                      <h3 class="user_level_text">silver</h3>
                  </div>
              </Div>
              <Div class="user_bio">
                  <h1 class="user_name"> User Name</h1>
                  <h3 class="kontak">kontak</h3>
                  <p class="user_phone">082333</p>
                  <h3 class="address_tittle"> Alamat</h3>
                  <p class="user_address"> Jl lapang Dada</p>
              </Div>
              <Div class="user_edit_button">
                  <button class="edit_profile_btn"> Edit Profile</button>
              </Div>
          </div><br>
  
          <div class="user_laundry_resume">
              <Div class="resume_div"></Div>
                  <div class="order_total">
                      <div class="berat_barang">
                          <h1 class="berat">20kg</h1>
                      </div>
                      <div class="total_pesanan_div">
                          <div>
                              <h1>Total Pesanan</h1>
                              <h1 class="total_pesanan">Rp 300.000</h1>
                          </div>
                      </div>
                  </div>
                  <div class="kupon">
                      <div class="kupon_sum_div">
                          <h1 class="kupon_sum">10</h1>
                      </div>
                      <div class="total_pesanan_div">
                          <div>
                              <h1>Kupon</h1>
                              <h1 class="terpakai_kupon_text">Terpakai</h1>
                          </div>
                      </div>
                  </div>
              <div class="membership_info">
                  <h1 class="kupon_info">Keuntungan Member Silver</h1>
                  <p>Bebas Ongkir selamanya untuk wilayah Kabupaten Pringsewu
  Mendapatkan kupon promo setiap bulan
  Berkesempatan mendapat hadiah menarik dalam event tahunan Green Laundry Express</p>
              </div>
          </div>
  
      </div>

      </main>
      <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
          <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted"></div>
            <div>
              <a href="#">
                &middot;
                <a href="#"></a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>

</body>

</html>
