#backGround {
    background-color: #4E9F3D;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
html, body, * {
    margin: 0;
    padding: 0;
}
.kotakPresensi {
    border: 3px solid black;
    height: 600px;
    width: 800px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    
}
.employeeImage {
    width: 100px;
    height: 100px;
    align-content: center;
    padding-top: 20px;
}

form {
    justify-content: center;
    align-items: center;
}

.checkId {
    width: 180px;
    height: 50px;
    background-color: #4E9F3D;
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 15px;
}

.title {
    padding-top: 20px;

}

#inputId {
    width: 400px;
    height: 30px;
    text-align: center;
    padding: 10px;
    /* border: 1px solid black; */
    border-radius: 8px;
    display:inline-block;
}

label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
    border: 2px solid red;
    border-radius: 4px;
    line-height: 1;
    padding: 2px 0 6px 6px;
    background: #ffe6eb;
}

input.error {
    border: 1px dashed red;
    font-weight: 300;
    color: red;
}

input.valid{
    border: 2px solid #4CAF50;
    color: green;
}